<style type="text/css">
.custom {
  font-family: sans-serif;
  color:rgba(107,112,92);
  font-size: 15px;
}

.container{
  max-width: 500px;
  margin: 0 auto;
  padding: 0 400px;
  display: grid;
  grid-template=columns: 1fr 5fr;
  grid-gap: 50px;
    background-color: #fff;
}

h1 {
  background-color: rgba(183,183,164);
  padding: 10px 50px 30px 0;
  text-align: center;
}

h2 {
  background-color: rgba(221,190,169);
  padding: 50px 10px 50px 10px 50px;
  text-align: center;
}
p {
  border: 0.5rem outset rgba(183,183,164);
  outline: .5rem outset rgba(165,165,141);
  padding: 30px 10px 30px 10px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}
</style>
