body {
    background-color: rgb(131,161,205);
}

h1 {
    text-align: center;

}
p {
    background-color: rgba(210,221,233);
    border: 0.5rem outset rgba(128,166,206);
    outline: .5rem outset rgba(104,149,197);
    padding: 30px 10px 30px 10px;
    text-align: center;
}